html , body {
    height: 100%;
    margin: 0;
    direction: rtl;
    background-color: #F9F7F3;

}


.myNav {
    border-bottom: 0.8px solid lightgrey;
}

.myLogo {
    font-size: 2.5rem;
    padding: 20px;
}

.dark-ligh-mode{
    height: fit-content;
    width: fit-content;
}

ul {
    list-style: none;
}



.full-page-container {
    height: 100%;
}

.dark-ligh-mode {
    width: 100px;
    height: 10px;
}

.main-row {
    height: 680px;
}

.right-nav-container{
    display: flex;
    justify-content: center;
    align-items: center;    
    position: -webkit-sticky;
    position: sticky;
}

.navi {
    height: 300px;
    width: 70px;
    border: 0.1px solid rgb(180, 177, 177);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.navi a {
    width: 50px;
    height:  50px;
    margin: 10px 0 10px 0;
    background-color: lightgrey;
    color: black;
}

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;    
}



.blogs-div {
    height: 195px;
    width: 920px;
}

.blogs-card {
    background-color: #F9F7F3;

}



.foot {
    
    width: 100%;
    height: 40px;
    text-align: center;
    color: ligh;
}